.gauge-card {

    width: 200px;
    height: 260px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow:
        0 8px 20px rgba(0, 74, 90, 0.08);
    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease;
    margin: 0px 10px;
    box-shadow: 0 4px 10px rgba(24, 0, 204, 0.099);

}


.gauge-card:hover {

    transform: translateY(-5px);
    box-shadow:
        0 12px 25px rgba(0, 0, 0, 0.014);

}



.gauge-header h3{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Unica One", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    

}


.gauge-value {

    width:220px;
}



.sensor-status {

    font-size:14px;
    font-family: "Unica One", sans-serif;
    color:#666;

}


.sensor-status span {

    margin-left:8px;

    font-weight:bold;

    color:#2ecc71;

    font-family: "Poppins", sans-serif;

}