@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');


.heading {
    color: #fdc921;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.089);
}

.heading1{
    font-family: 'Londrina Shadow', cursive;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.1px;
}