@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    position: fixed;
    top: 10px;
    left: 50%;

    padding: 5px 5px;
    height: 30px;
    width: auto;

    background-color: #000000;
    border-radius: 25px;
    z-index: 1000;

    /* keep center position */
    transform: translate(-50%, 0);

    transition: transform 0.3s ease-in-out;
}


/* when visible */
.navBar.show {
    transform: translate(-50%, 0);
}


/* when hidden */
.navBar.hide {
    transform: translate(-50%, -150%);
}


.navBar p {
    margin: 0;
    color: white;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
}


.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
}


.account {
    width: auto;
    height: 30px;
    padding: 0 15px;

    border-radius: 100px;
    border: none;

    background-color: white;
    font-family: 'Unica One', sans-serif;

    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.account:hover {

    transform: translateY(-2px);
    box-shadow:
        0 12px 25px rgba(0, 0, 0, 0.014);

}